.navbar-text {
    font-size: 22px;
    margin: 15px 0px; 
    padding: 10px 15px; 
}

.container {
    border: 1px solid silver; 
    border-radius: 5px;
    height: auto; 
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    padding-bottom: 2%;
}

.titreDiv {
    margin-bottom: 3%;
    font-size: 18px;
    text-decoration: underline;
}

#listeDocs {
    text-align: left;
}

table {
    width: 100%;
}

h1 {
    text-align: center;
    text-decoration: underline;
}


